PORT=3002
DATABASE_URL="postgresql://postgres:sql@localhost:5432/postgres"
NAME_SERVER_DB=dicta_database
PASSWORD_DB=sql
PORT_DB=5432
USER_DB=postgres
JWT_SECRET=jwt
JWT_EXPIRES_IN=1h
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
FRONTEND_URL=http://localhost:54368

BREVO_API_KEY=
MAIL_FROM=hola@mundodictariano.com
MAIL_FROM_NAME=Dicta
BREVO_TEMPLATE_BIENVENIDA=2
BREVO_TEMPLATE_RESET_PASSWORD=8
