PORT=3000
DATABASE_URL="postgresql://postgres:123456@localhost:5432/postgres"
NAME_SERVER_DB=dicta_database
PASSWORD_DB=123456
PORT_DB=5432
USER_DB=postgres
JWT_SECRET=jwt
JWT_EXPIRES_IN=1h
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
FRONTEND_URL=http://localhost:4200

BREVO_API_KEY=
MAIL_FROM=hola@mundodictariano.com
MAIL_FROM_NAME=Dicta
BREVO_TEMPLATE_BIENVENIDA=2